#textdomain wesnoth-Vision_of_a_Shaman

[scenario]
    id=05_barag_gor
    name= _ "Barag Gor"
    map_data="{~add-ons/Vision_of_a_Shaman/maps/chapter_02/05_barag_gor.map}"
    turns=1
    next_scenario=06_siege_of_antoria
    {DEFAULT_SCHEDULE}
 
    # S T O R Y
    
    # P R E S T A R T

    # S I D E _ C O N F I G U R A T I O N 
    
    # SIDE 1
    [side]
        side=1
        save_id=hennak
        controller=human
        gold=0
        team_name=player
        user_team_name= _ "Hennak"
        {FLAG_VARIANT long}
        {CHARACTER_HENNAK}
    [/side]
    
    # SIDE 2
    [side]
        side=2
        controller=ai
        team_name=player
        user_team_name="Kapou'e"
        {FLAG_VARIANT ragged}
        {CHARACTER_KAPOUE}
    [/side]
  
    # P R E D I A L O Q U E
    
    [event]
        name=start
        
        [endlevel]
        	result=victory
         	next_scenario=06_siege_of_antoria
			linger_mode=no
			carryover_report=no
			replay_save=no
			carryover_add=yes
			carryover_percentage=100
    	[/endlevel]
    [/event]
[/scenario]