#textdomain wesnoth-voas

[scenario]
    id=05_shadows_of_the_mountains
    name= _ "Shadows of the Mountains"
    map_data="{~add-ons/Vision_of_a_Shaman/maps/chapter_02/05_shadows_of_the_mountains.map}"
    next_scenario=06_siege_of_antoria

    random_start_time=no
    allow_new_game=no
    experience_modifier=100
    force_lock_settings=yes
    
    {TURNS 27 24 21}
    {DEFAULT_SCHEDULE}
 
    # S T O R Y
    
    [story]
    	[part]
    		music=battle-epic.ogg
    		story= _ "After the forces of Mordin, Gwaba, Torok and Graugh came together, they decided to bring the battle right to the enemy. Gideon, the leader of the enemies forces, had his Fortress beyond the Mountains to the east. As they crossed a Mountain pass, a dense fog came up…"
    	[/part]
    [/story]
    # P R E S T A R T
    
    [event]
        name=prestart
        
        [objectives]
            [objective]
                description= _ "Move Hennak to the signpost in the southeast"
                condition=win
            	show_turn_counter=yes
            [/objective]
            [objective]
            	{BONUS_OBJECTIVE_CAPTION}
                description= _ "Defeat all enemy leaders"
                condition=win
            	show_turn_counter=yes
            [/objective]
            [objective]
                description= _ "Death of Hennak"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Mahun"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Aela"
                condition=lose
            [/objective]
            
            {TURNS_RUN_OUT}
            
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    
    # S I D E _ C O N F I G U R A T I O N 
    
    # SIDE 1
    [side]
        side=1
        save_id=hennak
        controller=human
        gold=100
        team_name=player
        user_team_name= _ "Hennak"
        {FLAG_VARIANT long}
        {CHARACTER_HENNAK}
        shroud=yes
        fog=yes
        [unit]
	    	{CHARACTER_TOROK}
		[/unit]
        [unit]
        	{CHARACTER_GRAUGH}
        [/unit]
    [/side]
   	
   	 {STARTING_VILLAGES 1 5}
   	 
   	# SIDE 2
    [side]
        side=2
        controller=ai
        {GOLD 100 140 180}
        {INCOME 6 12 18}
        team_name=Enemy
        user_team_name= _ "Gre-Ress"
        {FLAG_VARIANT undead}
        {CHARACTER_GRERESS}
        
#ifdef HARD
        recruit=Skeleton, Skeleton Archer, Necrophage
#else
        recruit=Skeleton, Skeleton Archer, Ghoul
#endif
    [/side]
    
    # SIDE 3
    [side]
        side=3
        controller=ai
        {GOLD 100 140 180}
        {INCOME 6 12 18}
        team_name=Enemy
        user_team_name= _ "Hra-Mor"
        {FLAG_VARIANT undead}
        {CHARACTER_HRAMOR}
        
#ifdef HARD
        recruit=Revenant, Skeleton Archer, Ghoul
#else
        recruit=Skeleton, Skeleton Archer, Ghoul
#endif
    [/side]
    
    # SIDE 4
    [side]
        side=4
        controller=ai
        {GOLD 60 100 140}
        team_name=Enemy
        user_team_name= _ "Le-Gath"
        {FLAG_VARIANT undead}
        {CHARACTER_LEGATH}
        
#ifdef HARD
        recruit=Skeleton, Bone Shooter, Ghoul
#else
        recruit=Skeleton, Skeleton Archer, Ghoul
#endif
    [/side]
    
    # SIDE 5
    [side]
        side=5
        controller=ai
        {GOLD 140 180 240}
        team_name=Enemy
        user_team_name= _ "Sageth"
        {FLAG_VARIANT undead}
        {CHARACTER_SAGETH}
        
#ifdef HARD
        recruit=Ghost, Soulless, Revenant, Bone Shooter
#else
        recruit=Ghost, Walking Corpse, Revenant, Skeleton Archer
#endif
    [/side]
    
    # P R E D I A L O Q U E
    [event]
        name=start
        
        {GENERIC_UNIT 2 Skeleton 12 4}
        {GENERIC_UNIT 2 (Skeleton Archer) 12 6}

        [recall]
        	id=Mahun
        	show=no
        [/recall]
        
        [recall]
        	id=Aela
        	show=no
        [/recall]
        
        [recall]
        	id=Dorin
        	show=no
        [/recall]
        
        [recall]
        	id=Torok
        	show=no
        [/recall]
        
        [recall]
        	id=Graugh
        	show=no
        [/recall]
        
        [delay]
        	time=500
        [/delay]
        
        {MOVE_UNIT (x,y=12,4) 15 4}
        {MOVE_UNIT (x,y=12,6) 15 6}
        
        [kill]
        	x=15,15
        	y=4,6
        	show=no
        [/kill]
        
        [message]
        	speaker=Aela
        	message= _ "Did you see that?"
        [/message]
        
        [message]
        	speaker=Dorin
        	message= _ "There are undeads in these Mountains. We have to be careful."
        [/message]
        
        [message]
        	speaker=Mordin
        	message= _ "We do not have to defeat them. They will not follow us, once we have passed them."
        [/message]
        
        [message]
        	speaker=Torok
        	message= _ "Torok like smashing walking bones."
        [/message]
        
        [message]
        	speaker=Gwaba
        	message= _ "You can do what you want. Just do not get lost behind us. We should leave this pass as soon as possible."
        [/message]
        
        [remove_shroud]
            side=1
            x=35
            y=26
            radius=2
        [/remove_shroud]
        
        {HIGHLIGHT_IMAGE 35 26 scenery/signpost.png ()}

        [scroll_to_unit]
            id=Hennak
        [/scroll_to_unit]
    [/event]
   
    # G A M E S T A R T
    
    [event]
    	name=die
    	first_time_only=no
    	[filter]
    		side=2,3,4,5,6
    		canrecruit=yes
    	[/filter]
    	
    	{LOOT 1 20}
    [/event]
    # V I C T O R I E S
    
    [event]
        name=moveto
        [filter]
            x=35
            y=26
            id=Hennak
        [/filter]
        
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    
    # D E F E A T S 
    
    # HENNAK DIES
    [event]
    	name=die
    	[filter]
    		id=Hennak
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    # AELA DIES
    [event]
    	name=die
    	[filter]
    		id=Aela
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    # MORDIN DIES
    [event]
    	name=die
    	[filter]
    		id=Mahun
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    # TIME OVER
    [event]
    	name=time over
    	
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    {VOAS_II_LAST_BREATHS}
[/scenario]