#textdomain wesnoth-voas

[scenario]
    id=06_siege_of_antoria
    name= _ "Battle of Antoria"
    map_data="{~add-ons/Vision_of_a_Shaman/maps/chapter_02/06_siege_of_antoria.map}"
    next_scenario=07_shadows_of_the_mountains

    random_start_time=no
    allow_new_game=no
    experience_modifier=100
    force_lock_settings=yes

    {TURNS 27 24 21}
    {DEFAULT_SCHEDULE}
 
    # S T O R Y
    
    # P R E S T A R T
    
    [event]
        name=prestart
        
        [objectives]
            [objective]
                description= _ "Resist until the end of the turns"
                condition=win
                show_turn_counter=yes
            [/objective]
            [objective]
                {ALTERNATIVE_OBJECTIVE_CAPTION}
                description= _ "Defeat all enemy leaders"+{EARLY_FINISH_BONUS_FOOTNOTE}+{OBJECTIVE_FOOTNOTE _"(special bonus)"}
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Hennak"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Mahun"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Aela"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Mordin"
                condition=lose
            [/objective]
            
			[gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    
    # S I D E _ C O N F I G U R A T I O N 
    
    # SIDE 1
    [side]
        side=1
        save_id=hennak
        controller=human
        gold=100
        team_name=player
        user_team_name= _ "Hennak"
        {FLAG_VARIANT long}
        {CHARACTER_HENNAK}
    [/side]
    
    # SIDE 2
    [side]
        side=2
        controller=ai
        {GOLD 140 120 100}
        team_name=player
        user_team_name="Mordin"
        {FLAG_VARIANT knalgan}
		{CHARACTER_MORDIN}
        recruit=Dwarvish Scout, Dwarvish Fighter, Dwarvish Guardsman, Dwarvish Thunderer
    [/side]
    # SIDE 3
    [side]
        side=3
        controller=ai
        {GOLD 120 140 160}
        {INCOME 4 8 16}
        team_name=Enemy
        user_team_name="Warden"
        {FLAG_VARIANT loyalist}
		{CHARACTER_WARDEN}
		
#ifdef HARD
        recruit=Cavalryman, Horseman, Fencer, Spearman, Bowman, Heavy Infantryman
#else
        recruit=Cavalryman, Horseman, Fencer, Spearman, Bowman
#endif
    [/side]
    
    # SIDE 4
    [side]
        side=4
        controller=ai
        {GOLD 160 180 200}
        {INCOME 4 8 16}
        team_name=Enemy
        user_team_name="Olen"
        {FLAG_VARIANT loyalist}
		{CHARACTER_OLEN}
		
#ifdef HARD
        recruit=Cavalryman, Horseman, Fencer, Spearman, Bowman, Heavy Infantryman
#else
        recruit=Cavalryman, Horseman, Fencer, Spearman, Bowman
#endif
    [/side]
    
    # SIDE 6
    [side]
        side=5
        controller=ai
        {GOLD 160 180 200}
        {INCOME 4 8 16}
        team_name=Enemy
        user_team_name="Arandor"
        {FLAG_VARIANT wood-elvish}
		{CHARACTER_ARANDOR}
		
#ifdef HARD
        recruit=Elvish Fighter, Elvish Hero, Elvish Archer, Elvish Shaman, Elvish Druid, Elvish Rider
#else
        recruit=Elvish Fighter, Elvish Archer, Elvish Shaman, Elvish Scout, Elvish Rider
#endif

        [ai]
            {AI_SAVE_GOLD_DEFAULT}
            caution=0.8
        [/ai]
    [/side]
    
    # SIDE 7
    [side]
        side=6
        controller=ai
        {GOLD 180 200 220}
        {INCOME 4 8 16}
        team_name=Enemy
        user_team_name="Elnir"
        {FLAG_VARIANT wood-elvish}
		{CHARACTER_ELNIR}
		
#ifdef HARD
        recruit=Elvish Fighter, Elvish Hero, Elvish Archer, Elvish Shaman, Elvish Druid, Elvish Rider
#else
        recruit=Elvish Fighter, Elvish Archer, Elvish Shaman, Elvish Scout, Elvish Rider
#endif

        [ai]
            {AI_SAVE_GOLD_DEFAULT}
            caution=0.8
        [/ai]
    [/side]
   
    # P R E D I A L O Q U E
   	[event]
   		name=start
   		[recall]
   			id=Mahun
 			show=no
   		[/recall]
   		[recall]
   			id=Aela
 			show=no
   		[/recall]
   		[recall]
   			id=Graugh
 			show=no
   		[/recall]
   		[recall]
   			id=Dorin
 			show=no
   		[/recall]
   	[/event]
   	
    # G A M E S T A R T
    
    # V I C T O R I E S
    [event]
    	name=victory
    	[endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    # D E F E A T S 
    
    # HENNAK DIES
    [event]
    	name=die
    	[filter]
    		id=Hennak
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    # AELA DIES
    [event]
    	name=die
    	[filter]
    		id=Aela
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    # MAHUN DIES
    [event]
    	name=die
    	[filter]
    		id=Mahun
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    # MORDIN DIES
    [event]
    	name=die
    	[filter]
    		id=Mordin
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    # TIME OVER
    [event]
    	name=time over
    	
    	[endlevel]
    		result=victory
    	[/endlevel]
    [/event]
    
    {VOAS_II_LAST_BREATHS}
[/scenario]