#textdomain wesnoth-voas

[scenario]
    id=07_battle_of_lakeshore
    name= _ "Battle of Lakeshore"
    map_data="{~add-ons/Vision_of_a_Shaman/maps/chapter_02/07_battle_of_lakeshore.map}"
    next_scenario=08_voas_II_epiloque

    random_start_time=no
    allow_new_game=no
    experience_modifier=100
    force_lock_settings=yes
    
    {TURNS 60 60 60}
    {DEFAULT_SCHEDULE}
 
    # S T O R Y
    
    # P R E S T A R T
    
    [event]
        name=prestart
        
        [item]
            x,y=17,31
            image=scenery/mine-abandoned.png
        [/item]

        [item]
            x,y=33,30
            image=scenery/mine-abandoned.png
        [/item]


        [objectives]
            [objective]
                description= _ "Defeat Gideon"
                condition=win
            	show_turn_counter=yes
            [/objective]
            [objective]
                description= _ "Death of Hennak"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Mordin"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Dorin"
                condition=lose
            [/objective]
         
            {TURNS_RUN_OUT}
        [/objectives]
    [/event]

    # S I D E _ C O N F I G U R A T I O N

    {VOAS_SIDES 50 50 50 ( 
        # SIDE 1
        {CHARACTER_HENNAK}
        {FLAG_VARIANT long}
    ) (
        # SIDE 2
        {CHARACTER_MAHUN}
        {FLAG_VARIANT long}
    )}
    
    # SIDE 3
    [side]
        side=3
        controller=ai
        {GOLD 200 260 320}
        {INCOME 10 20 30}
        team_name=Enemy
        user_team_name="Gideon"
        {FLAG_VARIANT loyalist}
		{CHARACTER_GIDEON}
        
        [unit]
            {CHARACTER_TREMUS}
            x,y=32,25
        [/unit]

        [unit]
            {CHARACTER_IVARD}
            x,y=30,26
        [/unit]
		
#ifdef HARD
        recruit=Cavalryman, Horseman, Mage, Fencer, Spearman, Bowman, Heavy Infantryman
#else
        recruit=Cavalryman, Mage, Horseman, Fencer, Spearman, Bowman
#endif
	
    [/side]

# SIDE 4
    [side]
        side=4
        controller=ai
        {GOLD 150 180 220}
        {INCOME 10 20 30}
        team_name=Enemy
        user_team_name="Silniel"
        {FLAG_VARIANT wood-elvish}
		{CHARACTER_SILNIEL}
		
#ifdef HARD
        recruit=Elvish Archer, Elvish Fighter, Elvish Scout, Elvish Druid, Elvish Sorceress, Elvish Ranger, Elvish Rider, Elvish Hero
#else
        recruit=Elvish Archer, Elvish Fighter, Elvish Scout, Elvish Shaman, Elvish Ranger, Elvish Rider
#endif
    [/side]
    
    # P R E D I A L O Q U E
    [event]
        name=start

        {MODIFY_UNIT side=3 ai_special guardian}

        [recall]
        	id=Mahun
        	show=no
        [/recall]

        [recall]
        	id=Torok
            show=no
        [/recall]

        [recall]
        	id=Aela
            show=no
        [/recall]
        
        [recall]
        	id=Thalon
            show=no
        [/recall]

        [recall]
        	id=Dorin
            show=no
        [/recall]
    [/event]
   
    # G A M E S T A R T
    
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1,2
            x,y=17,31
        [/filter]
        {TELEPORT_UNIT (id=$unit.id) 19 39}
    [/event]

    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1,2
            x,y=18,38
        [/filter]
        {TELEPORT_UNIT (id=$unit.id) 17 32}
    [/event]

    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1,2
            x,y=32,37
        [/filter]
        {TELEPORT_UNIT (id=$unit.id) 33 31}
    [/event]

    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1,2
            x,y=33,30
        [/filter]
        {TELEPORT_UNIT (id=$unit.id) 32 38}
    [/event]

    # V I C T O R I E S
    
    [event]
    	name=victory
    	[endlevel]
            result=victory
            carryover_report=no
            save=no
        [/endlevel]
    [/event]
    
    # D E F E A T S 
    
    # HENNAK DIES
    [event]
    	name=die
    	[filter]
    		id=Hennak
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    # AELA DIES
    [event]
    	name=die
    	[filter]
    		id=Aela
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    # MORDIN DIES
    [event]
    	name=die
    	[filter]
    		id=Mordin
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    # TIME OVER
    [event]
    	name=time over
    	
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    {VOAS_II_LAST_BREATHS}
[/scenario]