#textdomain wesnoth-voas

[scenario]
    id=01_consequences
    name= _ "Consequences"
    map_data="{~add-ons/Vision_of_a_Shaman/maps/chapter_01/01_consequences.map}"
    next_scenario=02_new_beginning

    random_start_time=no
    allow_new_game=no
    new_game_title= _ "Chapter I: Brothers Death"
    experience_modifier=100
    force_lock_settings=yes

    {TURNS 1 1 1}
    {DEFAULT_SCHEDULE}
    
    # S T O R Y
    
    # S I D E _ C O N F I G U R A T I O N

    {VOAS_SIDES 0 0 0 ( 
        # SIDE 1
        {CHARACTER_AGARWAEN_KNAVE}
    ) (
        # SIDE 2
        {CHARACTER_SILWAEN_FULLBLOOD}
    )}

    # SIDE 3
    # TODO: SHOULD BE VAMPIRES
    [side]
        side=3
        controller=ai
        allow_player=no
        {GOLD 240 260 300}
        {ENEMY_TEAM}
        {FLAG_VARIANT loyalist}
		{CHARACTER_HADDAD}
		recruit=Cavalryman, Fencer, Spearman, Bowman
    [/side]
    
    # P R E D I A L O Q U E

    [event]
        name=start

        [recall]
            id=Silwaen
            show=no
            x=5,19
        [/recall]

        [endlevel]
            result=victory
            linger_mode=no
            carryover_report=no
            replay_save=no
            carryover_add=yes
    		carryover_percentage=0
        [/endlevel]
    [/event]
[/scenario]