#textdomain wesnoth-voas

[scenario]
    id=03_conquest
    name= _ "Conquest"
    map_data="{~add-ons/Vision_of_a_Shaman/maps/chapter_01/03_conquest.map}"
    next_scenario=04_karval

    random_start_time=no
    allow_new_game=no
    experience_modifier=100
    force_lock_settings=yes
    
    {TURNS 24 21 18}
    {DEFAULT_SCHEDULE}
    
    # S T O R Y
    
    # P R E S T A R T
    
    [event]
        name=prestart
        [objectives]
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
	            show_turn_counter=yes
            [/objective]
            [objective]
                description= _ "Death of Agarwaen"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Silvaen"
                condition=lose
            [/objective]
            
            {TURNS_RUN_OUT}
            
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    
    # S I D E _ C O N F I G U R A T I O N
    
    {VOAS_SIDES 50 50 50 ( 
        # SIDE 1
        {CHARACTER_AGARWAEN_KNAVE}
    ) (
        # SIDE 2
        {CHARACTER_SILVAEN_FIGHTER}
    )}

    # SIDE 3
    [side]
        side=3
        controller=ai
        {GOLD 30 38 56}
        team_name=Enemy
        user_team_name="Charles"
        {FLAG_VARIANT loyalist}
		{CHARACTER_CHARLES}
		recruit=Peasant, Woodsman 
        [ai]
            {ATTACK_DEPTH 1 3 5}
        [/ai]
    [/side]
    
    # SIDE 4
    [side]
        side=4
        controller=ai
        {GOLD 42 50 58}
        team_name=Enemy
        user_team_name="Ronald"
        {FLAG_VARIANT loyalist}
		{CHARACTER_RONALD}
		recruit=Ruffian, Peasant, Woodsman
        [ai]
            {ATTACK_DEPTH 1 3 5}
        [/ai]
    [/side]

    # SIDE 5
    [side]
        side=5
        controller=ai
        {GOLD 42 50 58}
        team_name=Enemy
        user_team_name="Frederick"
        {FLAG_VARIANT loyalist}
		{CHARACTER_FREDERICK}
		recruit=Ruffian, Peasant, Woodsman
        [ai]
            {ATTACK_DEPTH 1 3 5}
        [/ai]
    [/side]

    # P R E D I A L O Q U E
    [event]
        name=start

        [recall]
            id=Silvaen
            show=no
        [/recall]

        [recall]
            type=Skeleton, Skeleton Archer, Walking Corpse
            show=no
        [/recall]

        [recall]
            type=Skeleton, Skeleton Archer, Walking Corpse
            show=no
        [/recall]

        [recall]
            type=Vamp Bitten
            side=1
            show=no
        [/recall]

        [recall]
            type=Vamp Bitten
            side=1
            show=no
        [/recall]

        [recall]
            type=Vamp Bitten
            side=1
            show=no
        [/recall]
#ifdef MULTIPLAYER
        [recall]
            type=Vamp Bitten
            side=2
            show=no
        [/recall]

        [recall]
            type=Vamp Bitten
            side=2
            show=no
        [/recall]

        [recall]
            type=Vamp Bitten
            side=2
            show=no
        [/recall]
#else
        [recall]
            type=Vamp Bitten
            side=1
            show=no
        [/recall]

        [recall]
            type=Vamp Bitten
            side=1
            show=no
        [/recall]

        [recall]
            type=Vamp Bitten
            side=1
            show=no
        [/recall]
#endif
    [/event]
    
    # G A M E S T A R T
    
    # V I C T O R I E S
    
    [event]
    	name=victory
    	[endlevel]
		    result=victory
		    bonus=yes
		    {NEW_GOLD_CARRYOVER 40}
		[/endlevel]
    [/event]
    # D E F E A T S 
    
    # AGARWAEN DIES
    [event]
    	name=die
    	[filter]
    		id=Agarwaen
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]

    # SILVAEN DIES
    [event]
    	name=die
    	[filter]
    		id=Silvaen
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    # TIME OVER
    [event]
        name=time over
        [endlevel]
            result=defeat
        [/endlevel]       
    [/event]

    {VOAS_I_LAST_BREATHS}
[/scenario]