#textdomain wesnoth-Vision_of_a_Shaman

[scenario]
    id=04_the_clash
    name= _ "The Clash"
    map_data="{~add-ons/Vision_of_a_Shaman/maps/chapter_01/04_the_clash.map}"
    {TURNS 24 21 18}
    next_scenario=null
    {DEFAULT_SCHEDULE}
    
    # S T O R Y
    
    # P R E S T A R T
    
    [event]
        name=prestart
        [objectives]
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
	            show_turn_counter=yes
            [/objective]
            [objective]
                description= _ "Death of Agarwaen"
                condition=lose
            [/objective]
            
            {TURNS_RUN_OUT}
            
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    
    # S I D E _ C O N F I G U R A T I O N
    
    # SIDE 1
    [side]
        side=1
        save_id=agarwaen
        controller=human
        recruit=
        gold=0
        team_name=player
        user_team_name= _ "Agarwaen"
        {FLAG_VARIANT ragged}
        {CHARACTER_AGARWAEN_KNAVE}
    [/side]
    
    # SIDE 2
    [side]
        side=2
        controller=ai
        {GOLD 30 38 56}
        team_name=Enemy
        user_team_name="Gideon"
        {FLAG_VARIANT loyalist}
		{CHARACTER_GIDEON_GENERAL}
		recruit=Spearman, Bowman, Cavalryman,, Horseman, Fencer, Heavy Infantryman
        [ai]
            {ATTACK_DEPTH 1 3 5}
        [/ai]
    [/side]
    
    # P R E D I A L O Q U E
    
    # G A M E S T A R T
    
    # V I C T O R I E S
    
    [event]
    	name=victory
    	[endlevel]
		     result=victory
		    bonus=yes
	    {NEW_GOLD_CARRYOVER 40}
	    [/endlevel]
    [/event]
    
    # D E F E A T S 
    
    # AGARWAEN DIES
    [event]
    	name=die
    	[filter]
    		id=Agarwaen
    	[/filter]
    	[endlevel]
    		result=defeat
    	[/endlevel]
    [/event]
    
    # TIME OVER
    [event]
        name=time over
        [endlevel]
            result=defeat
        [/endlevel]       
    [/event]
[/scenario]