#textdomain wesnoth-voas

[unit_type]
	id=voas_thelian_champion
	name= _ "Champion"
	race=mie_thelian
	image="units/human-thelians/champion.png"
	hitpoints=72
	movement_type=mie_thelianfoot
	movement=6
	experience=150
	level=3
	alignment=neutral
	advances_to=null
	{AMLA_DEFAULT}
	cost=50
	usage=fighter
	die_sound={SOUND_LIST:HUMAN_DIE}
	
	[abilities]
		{ABILITY_LEADERSHIP_LEVEL_3}
	[/abilities]
	
	[attack]
		name=sword
		description=_"sword"
		icon="attacks/sword-human.png"
		type=blade
		range=melee
		damage=12
		number=4
	[/attack]
	
	{MIE_GENERIC_SWORD_ANIM sword "units/human-thelians/champion.png"}
	
	{DEFENSE_ANIM "units/human-thelians/champion.png" "units/human-thelians/champion.png" {SOUND_LIST:HUMAN_HIT}}  
[/unit_type]
