#textdomain wesnoth-Vision_of_a_Shaman

#define RECALLABLE_UNIT SIDE TYPE
    # Creates a generic unit of TYPE belonging to SIDE, which has a
    # random name, gender and traits (just like a recruited unit).
    [unit]
        side={SIDE}
        type={TYPE}
        generate_name=yes
        random_traits=yes
        random_gender=yes
        upkeep=full
    [/unit]
#enddef

#define LAST_BREATH_VARIATION2 ID SPEAKER_1 STRING_1 SPEAKER_2 STRING_2
    #
    #   Here is an example:
    #!  {LAST_BREATH_VARIATION2 Gweod 
    #!      Gweod (_"Was it not sharp enough?...")
    #!      Gweod (_"But... my sword...")}
    #!      # END OF LAST_BREATH_VARIATION2

    [event]
        name=last breath
        first_time_only=no
        
        [filter]
            id={ID}
        [/filter]

        [set_variable]
            name=last_breath_string
            rand=1,2
        [/set_variable]
        
        # FIRST STRING
        [if]
            [variable]
                name=last_breath_string
                numerical_equals=1
            [/variable] 
            [then]          
                [message]
                    speaker={SPEAKER_1}
                    message={STRING_1}
                [/message]
            [/then]
        [/if]
        
        # SECOND STRING
        [if]
            [variable]
                name=last_breath_string
                numerical_equals=2
            [/variable]
            [then]
                [message]
                    speaker={SPEAKER_2}
                    message={STRING_2}
                [/message]
            [/then]
        [/if]
        
        {CLEAR_VARIABLE last_breath_string}
    [/event]
#enddef

#define OVERBLEND X Y DELAY UNIT_PLACEMENT_WML

    [hide_unit]
    [/hide_unit]
        
    {FADE_TO_BLACK}
        
    [delay]
        time=200
    [/delay]
     
    {SCROLL_TO {X} {Y}}
      
    {FADE_IN}
        
    {UNIT_PLACEMENT_WML}
       
    [unhide_unit] 
    [/unhide_unit]
    
    [delay]
        time={DELAY}
    [/delay]
#enddef

#define VOAS_PTRL_LUA
[lua]
code = <<
function wesnoth.wml_actions.put_to_recall_list(cfg)
   local units = wesnoth.get_units(cfg)
   for i, unit in ipairs(units) do   
      if cfg.heal then
         unit.hitpoints = unit.max_hitpoints
         unit.moves = unit.max_moves
         unit.attacks_left = unit.max_attacks
         unit.status.poisoned = false
         unit.status.slowed = false
      end
      wesnoth.put_recall_unit(unit, unit.side)
   end
end
>>
[/lua]
#enddef